html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}

.maskBackground {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.80);
    
    
}
.imageBackground{
    
    background: url('https://www.pixelstalk.net/wp-content/uploads/2016/05/HD-comics-justice-league-superheroes-backgrounds.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% -20%;
    background-attachment:fixed
   
}

.logo{
    font-family: 'Bowlby One SC', cursive;
    
}



.login{
    width: 100%;
    height: 30px;
    display: flex;
    margin: 10% auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
   

}


